<div id="<%= dom_id cliente %>">
  <p>
    <strong>Id pessoa:</strong>
    <%= cliente.id_pessoa %>
  </p>

  <p>
    <strong>Id tipo usuario:</strong>
    <%= cliente.id_tipo_usuario %>
  </p>

</div>
