<div id="<%= dom_id consultor %>">
  <p>
    <strong>Id pessoa:</strong>
    <%= consultor.id_pessoa %>
  </p>

  <p>
    <strong>Id profissao:</strong>
    <%= consultor.id_profissao %>
  </p>

</div>
