<h1>Editing consultor</h1>

<%= render "form", consultor: @consultor %>

<br>

<div>
  <%= link_to "Show this consultor", @consultor %> |
  <%= link_to "Back to consultors", consultors_path %>
</div>
