<p style="color: green"><%= notice %></p>

<h1>Consultors</h1>

<div id="consultors">
  <% @consultors.each do |consultor| %>
    <%= render consultor %>
    <p>
      <%= link_to "Show this consultor", consultor %>
    </p>
  <% end %>
</div>

<%= link_to "New consultor", new_consultor_path %>
