<div id="<%= dom_id especialidade %>">
  <p>
    <strong>Descricao:</strong>
    <%= especialidade.descricao %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= especialidade.area_id %>
  </p>

</div>
