<h1>Editing especialidade</h1>

<%= render "form", especialidade: @especialidade %>

<br>

<div>
  <%= link_to "Show this especialidade", @especialidade %> |
  <%= link_to "Back to especialidades", especialidades_path %>
</div>
