

<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Editar especialidade</h2>
    </div>

    <div class="row">
    <%= render "form", especialidade: @especialidade %>
    </div>
  </div>
</section>

