   <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Especialidades</h2>
        </div>

<div class="row">
  <% @especialidades.each do |especialidade| %>
    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class="bx bxl-dribbble"></i></div>
        <h4><a href="<%= especialidade_path(especialidade) %>"><%= especialidade.descricao %></a></h4>
        <p><%= especialidade.nome %></p>
      </div>
    </div>
  <% end %>
</div>  

        
      </div>
    </section>  
    <% if current_user&.consultor? %>
    <%= link_to "New especialidade", new_especialidade_path, class: 'btn btn-primary' %> 
    <% end %>

