



   <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>consultores</h2>
        </div>

        <div class="row">
           <% @consultores.each do |consultore| %>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
             <h4><a href="<%= user_path(consultore) %>"><%= consultore.nome %></a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>
          br
            <% end %>
        </div>
      </div>
    </section>  


