<h1>Editing disponibilidade consultor</h1>

<%= render "form", disponibilidade_consultor: @disponibilidade_consultor %>

<br>

<div>
  <%= link_to "Show this disponibilidade consultor", @disponibilidade_consultor %> |
  <%= link_to "Back to disponibilidade consultors", disponibilidade_consultors_path %>
</div>
