<h1>New disponibilidade consultor</h1>

<%= render "form", disponibilidade_consultor: @disponibilidade_consultor %>

<br>

<div>
  <%= link_to "Back to disponibilidade consultors", disponibilidade_consultors_path %>
</div>
