<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">
      <h2>Agendar</h2>

      <div class="row justify-content-center">
        <div class="col-md-12"> <!-- Ajuste a largura conforme necessário -->
          <%= render "form", agendamento: @agendamento %>
        </div>
      </div>

   </div>
  </div>

</section>
