<footer id="footer">
    <div class="container footer-bottom clearfix">
        <div class="copyright" style="display: flex; gap: 20px; align-items: center;">
            <p>TELEFONE: (69) 99369-5130</p>
            <p>EMAIL: proxpert.consultoria@gmail.com</p>
        </div>
    </div>
</footer>
