<footer id="footer">
    <div class="container footer-bottom clearfix">
        <div class="copyright" style="display: flex; gap: 20px; align-items: center;">
            <p>Telefone: (00) 0000-0000</p>
            <p>Email: <a href="mailto:proxpert@gmail.com">proxpert@gmail.com</a></p>
        </div>
    </div>
</footer>
