<h1>Editing tipo usuario</h1>

<%= render "form", tipo_usuario: @tipo_usuario %>

<br>

<div>
  <%= link_to "Show this tipo usuario", @tipo_usuario %> |
  <%= link_to "Back to tipo usuarios", tipo_usuarios_path %>
</div>
