<div id="<%= dom_id agenda %>">
  <p>
    <strong>Data hora:</strong>
    <%= agenda.data_hora %>
  </p>

  <p>
    <strong>Id consultor:</strong>
    <%= agenda.id_consultor %>
  </p>

  <p>
    <strong>Id cliente:</strong>
    <%= agenda.id_cliente %>
  </p>

</div>
