<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Areas</h2>
    </div>

    <div class="row">
      <% @areas.each do |area| %>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <h4><a href="<%= area_path(area) %>"><%= area.nome %></a>
             
            </h4>
            <p><%= area.descricao %></p>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% if current_user&.consultor? %>
  <%= link_to "New area", new_area_path, class: 'btn btn-primary' %>
<% end %>
