<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <p style="color: green"><%= notice %></p> <!-- Mensagem de notificação -->

    <div class="section-title">
      <h2>Cidades</h2>
    </div>

    <div class="row" id="cidades">
      <% @cidades.each do |cidade| %>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box-agendamento">
            <h4>
              <%= link_to cidade.descricao, cidade %> <!-- Descrição da cidade com link -->
            </h4>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
