<div id="<%= dom_id consultor_skill %>">
  <p>
    <strong>Id consultor:</strong>
    <%= consultor_skill.id_consultor %>
  </p>

  <p>
    <strong>Id skill:</strong>
    <%= consultor_skill.id_skill %>
  </p>

</div>
