<h1>Editing consultor skill</h1>

<%= render "form", consultor_skill: @consultor_skill %>

<br>

<div>
  <%= link_to "Show this consultor skill", @consultor_skill %> |
  <%= link_to "Back to consultor skills", consultor_skills_path %>
</div>
