<div id="<%= dom_id usuario %>">
  <p>
    <strong>Id pessoa:</strong>
    <%= usuario.id_pessoa %>
  </p>

  <p>
    <strong>Id tipo usuario:</strong>
    <%= usuario.id_tipo_usuario %>
  </p>

</div>
