<h1>Editing profissao</h1>

<%= render "form", profissao: @profissao %>

<br>

<div>
  <%= link_to "Show this profissao", @profissao %> |
  <%= link_to "Back to profissaos", profissaos_path %>
</div>
